name: Deploy
on:
  push:
    branches:
      - main
jobs:
  # build:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v3
  #     - uses: cachix/install-nix-action@v18
  #       with:
  #         nix_path: nixpkgs=channel:nixos-unstable
  #         extra_nix_config: |
  #           experimental-features = nix-command flakes
  #     - uses: cachix/cachix-action@v11
  #       with:
  #         name: nix-fly-template
  #         authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
  #     - run: nix --log-format raw -L build .#defaultDockerContainer.x86_64-linux --impure
  production:
    runs-on: ubuntu-latest
    concurrency: production
    environment:
      name: production
      url: https://andredanielsson.com/
    steps:
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v18
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          extra_nix_config: |
            experimental-features = nix-command flakes
      - uses: cachix/cachix-action@v11
        with:
          name: nix-fly-template
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - run: nix --log-format raw -L run .#deploy-production --impure
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
